<html>

<style>
input[type="text"] {
	margin : 3px 10px;
	border-radius : 5px;
	width : 50%;
	height  : 50px;
	font-size : 30px;
}
input[type="submit"] {
	margin : 3px 10px;
	border-radius : 5px;
	height  : 50px;
	font-size : 30px;
}
</style>
<body>

    <div>
        <form action="/search" method="get">
            <input type="text" name="q" placeholder="Enter User Name" />
            <br>
            <input type="submit" name="submit" value="Search" />
        </form>
    </div>

</body>
</html>
