<html lang="en">
<head>
    <meta charset="utf-8">

    <title>User Creation Page using Typescript</title>
    
</head>
<body>

    <h1><%= userData.displayName %></h1>
    <h1><%= userData.email %></h1>
    <a href="/">Back to main page</a>

</body>
</html>