<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Express using Typescript</title>
    
</head>
<body>

    <h1><%= title %></h1>
    <img src="img/typescript.png" alt="some_text">
    <a href="/p2">Go to second page</a>
</body>
</html>