<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <title>Express using Typescript</title>
    
</head>
<body>

    <h1><%= title %></h1>
    <img src="img/typescript.png" alt="some_text">
    <a href="/p2">Go to second page</a>
    <h2>Bootstrap Columns</h2>
    <div class="container">
    <div class="row">
        <div class="column col-md-4 col-sm-6">
            <p>Left Column</p>
        </div>
        <div class="column col-md-4 col-sm-4">
            <p>Middle Column</p>
        </div>
        <div class="column col-md-4 col-sm-2">
            <p>Right Column</p>
        </div>
    </div>
</div>

</body>
</html>