<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/main.css">
    <title>Express using Typescript</title>
    
</head>
<body>

    <h1><%= title %></h1>
    <img src="img/typescript.png" alt="some_text">
    <a href="/p2">Go to second page</a>
    <h2>Bootstrap Extended Elements</h2>
    <div class="container">
        <div class="main-area">
            <div class="column content">
                <p>This is the Content.</p>
            </div>
            <div class="column sidebar">
                <p>This is the Sidebar.</p>
            </div>
            <div class="column side-nav">
                <p>This is the Navigation.</p>
            </div>
        </div>
    </div>

    
</div>

</body>
</html>