<html lang="en">
<head>
    <meta charset="utf-8">
     <link rel="stylesheet" href="css/main.css">
    <title>User Creation Page using Typescript</title>
    <script src="js/createUserForm.js"></script>
    
</head>
<body>
    <form id="frm1">
            Display Name:<br>
            <input type="text" name="displayname" id="displayname">
            <br>
            Email:<br>
            <input type="text" name="email" id="email">
            <br><br>
            <input id="createUserButton" type="button" value="Create User">
   </form>

    <div id="responseMessage">
    </div>

</body>
</html>